# Ejercicio de Regresi√≥n Lineal

Para comenzar se realizan los import necesarios de los paquetes que se utiizan durante el ejercicio.

In [5]:
import pandas as pd
import numpy as np
from sklearn import linear_model 
from sklearn import model_selection 
from sklearn.metrics import classification_report 
from sklearn.metrics import confusion_matrix 
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import seaborn as sb
%matplotlib inline

### Carga del archivo csv (datos de entrada)

In [6]:
dataframe = pd.read_csv(r"usuarios win-mac-lin.csv")
dataframe.head()

   duracion  paginas  acciones  valor  clase
0       7.0        2         4      8      2
1      21.0        2         6      6      2
2      57.0        2         4      4      2
3     101.0        3         6     12      2
4     109.0        2         6     12      2

continuacion se utiliza el metodo dataframe.describe() que proporciona estadistica descriptiva, desviacion estandar, valores minimo y maximo de cada atributo.

In [7]:
dataframe.describe()

         duracion     paginas    acciones       valor       clase
count  170.000000  170.000000  170.000000  170.000000  170.000000
mean   111.075729    2.041176    8.723529   32.676471    0.752941
std    202.453200    1.500911    9.136054   44.751993    0.841327
min      1.000000    1.000000    1.000000    1.000000    0.000000
25%     11.000000    1.000000    3.000000    8.000000    0.000000
50%     13.000000    2.000000    6.000000   20.000000    0.000000
75%    108.000000    2.000000   10.000000   36.000000    2.000000
max    898.000000    9.000000   63.000000  378.000000    2.000000